[Unit]
Description=Repowatch Daemon
# Repowatch will be started after networking is online
After=network.target network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/repowatch
ExecStart=/usr/bin/repowatch -C "${CONFIG}" -P "${PROJECTS}"
Restart=on-failure

[Install]
WantedBy=multi-user.target
